
  <div class="row liking">
     <div class="row col-md-8 col-md-offset-2">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> 
        <% end %><%= @recipe.thumbs_up_total %>|| 
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> 
        <% end %><%= @recipe.thumbs_down_total %>
      </div>     
  </div>